<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!--合作身份者ID，以2088开头由16位纯数字组成的字符串-->
  <partner>2048102158412548</partner>
  <!--交易安全检验码，由数字和字母组成的32位字符串-->
  <key>v5d6g8fldghid58fdksigmnv5249d5ft</key>
  <!--签约支付宝账号或卖家支付宝帐户-->
  <email>test@dtcms.net</email>
  <!--接口类型1即时到帐2担保交易-->
  <type>1</type>
  <!--页面跳转同步返回页面文件路径 要用 http://格式的完整路径，不允许加?id=123这类自定义参数-->
  <return_url>/api/payment/alipay/return_url.aspx</return_url>
  <!--服务器通知的页面文件路径 要用 http://格式的完整路径，不允许加?id=123这类自定义参数-->
  <notify_url>/api/payment/alipay/notify_url.aspx</notify_url>
</Root>