<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!--网银在线商户编号-->
  <partner>1900000114</partner>
  <!--网银在线MD5校验码-->
  <key>e82573dc7e6136ba414f2e2affbe39fa</key>
  <!--显示支付通知页面-->
  <return_url>/api/payment/chinabank/return_url.aspx</return_url>
  <!--支付完成后的回调处理页面-->
  <notify_url>/api/payment/chinabank/notify_url.aspx</notify_url>
</Root>