<?xml version="1.0"?>
<orderconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <anonymous>1</anonymous>
  <confirmmsg>1</confirmmsg>
  <confirmcallindex>order_confirm</confirmcallindex>
  <expressmsg>1</expressmsg>
  <expresscallindex>order_express</expresscallindex>
  <completemsg>1</completemsg>
  <completecallindex>order_complete</completecallindex>
</orderconfig>