<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!--财付通商户号-->
  <partner>1900000113</partner>
  <!--财付通密钥-->
  <key>e82573dc7e6136ba414f2e2affbe39fa</key>
  <!--接口类型1即时到帐2担保交易-->
  <type>1</type>
  <!--显示支付通知页面-->
  <return_url>/api/payment/tenpay/return_url.aspx</return_url>
  <!--支付完成后的回调处理页面-->
  <notify_url>/api/payment/tenpay/notify_url.aspx</notify_url>
</Root>