<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>DTcms内容管理系统</webname>
  <weburl>http://demo.dtcms.net</weburl>
  <weblogo />
  <webcompany>动力启航软件工作室</webcompany>
  <webaddress>广东省佛山市顺德区大良镇新基三路</webaddress>
  <webtel>13800138000</webtel>
  <webfax>-</webfax>
  <webmail>info@it134.cn</webmail>
  <webcrod>粤ICP备11064298号</webcrod>
  <webtitle>DTcms网站管理系统 - 动力启航_开源cms_NET开源_cms建站</webtitle>
  <webkeyword>动力启航,DTCMS系统,ASP.NET开源,开源CMS,网站管理系统,互联网开发</webkeyword>
  <webdescription>以ASP.NET(C#)+jQuery技术为中心，面向软件开发者、程序爱好者、网页设计师，服务于个人、企业的网站，同时也是一个专门结合AJAX技术开发友好界面、倍受欢迎用户体验的BS模式软件系统，打造自己的品牌。</webdescription>
  <webcopyright>版权所有 动力启航 © Copyright 2009 - 2012. dtcms.net. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>aspx</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>info@it134.cn</emailfrom>
  <emailusername>info@it134.cn</emailusername>
  <emailpassword>EA4C94A47ED87546</emailpassword>
  <emailnickname>动力启航</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>动力启航</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</siteconfig>