<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="DTcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="DTcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="DTcms.Web.UI.Page.error" templet="error.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="DTcms.Web.UI.Page.login" templet="login.html">
    <item path="login.aspx" pattern="login.aspx" />
  </rewrite>
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="DTcms.Web.UI.Page.oauth_login" templet="oauth_login.html">
    <item path="oauth_login.aspx" pattern="oauth_login.aspx" />
  </rewrite>
  <rewrite name="register" type="other" page="register.aspx" inherit="DTcms.Web.UI.Page.register" templet="register.html">
  </rewrite>
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="DTcms.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="DTcms.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="DTcms.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="DTcms.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="DTcms.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="DTcms.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="DTcms.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="DTcms.Web.UI.Page.repassword" templet="repassword.html">
    <item path="repassword/{0}.aspx" pattern="repassword/(\w+).aspx" querystring="action=$1" />
    <item path="repassword/{0}---{1}.aspx" pattern="repassword/(\w+)---(\w+).aspx" querystring="action=$1^code=$2" />
  </rewrite>
  <rewrite name="payment" type="other" page="payment.aspx" inherit="DTcms.Web.UI.Page.payment" templet="payment.html">
    <item path="payment/{0}.aspx" pattern="payment/(\w+).aspx" querystring="action=$1" />
    <item path="payment/{0}/{1}.aspx" pattern="payment/(\w+)/(\w+).aspx" querystring="action=$1^order_no=$2" />
  </rewrite>
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="DTcms.Web.UI.Page.shopping" templet="shopping.html">
    <item path="shopping/{0}.aspx" pattern="shopping/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="goods" type="index" page="goods.aspx" inherit="DTcms.Web.UI.Page.article" templet="goods.html" channel="goods">
    <item path="goods.aspx" pattern="goods.aspx" />
  </rewrite>
  <rewrite name="goods_list" type="list" page="goods_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="goods_list.html" channel="goods">
    <item path="goods/{0}.aspx" pattern="goods/(\d+).aspx" querystring="category_id=$1" />
    <item path="goods/{0}/{1}.aspx" pattern="goods/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="goods_show" type="detail" page="goods_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="goods_show.html" channel="goods">
    <item path="goods/show-{0}.aspx" pattern="goods/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="down" type="index" page="down.aspx" inherit="DTcms.Web.UI.Page.article" templet="down.html" channel="down">
    <item path="down.aspx" pattern="down.aspx" />
  </rewrite>
  <rewrite name="down_list" type="list" page="down_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="down_list.html" channel="down">
    <item path="down/{0}.aspx" pattern="down/(\d+).aspx" querystring="category_id=$1" />
    <item path="down/{0}/{1}.aspx" pattern="down/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="down_show" type="detail" page="down_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="down_show.html" channel="down">
    <item path="down/show/{0}.aspx" pattern="down/show/(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="content" type="detail" page="content.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="content.html" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="mfeedback" type="plugin" page="mfeedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="mfeedback.html">
    <item path="mfeedback.aspx" pattern="mfeedback.aspx" />
    <item path="mfeedback/{0}.aspx" pattern="mfeedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="photo" type="index" page="photo.aspx" inherit="DTcms.Web.UI.Page.article" templet="photo.html" channel="photo">
    <item path="photo.aspx" pattern="photo.aspx" />
  </rewrite>
  <rewrite name="photo_list" type="list" page="photo_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="photo_list.html" channel="photo">
    <item path="photo/{0}.aspx" pattern="photo/(\d+).aspx" querystring="category_id=$1" />
    <item path="photo/{0}/{1}.aspx" pattern="photo/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="photo_show" type="detail" page="photo_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="photo_show.html" channel="photo">
    <item path="photo/show-{0}.aspx" pattern="photo/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="news" type="index" page="news.aspx" inherit="DTcms.Web.UI.Page.article" templet="news.html" channel="news">
    <item path="news.aspx" pattern="news.aspx" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="news_list.html" channel="news">
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}/{1}.aspx" pattern="news/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
</urls>