<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=127.0.01;Initial Catalog=ASPNETDB.MDF;User ID=sa;Password=000257" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=lxshenghuo;User ID=sa;Password=sa1994sa;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings/>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/index.html</LookFor>
        <SendTo>~/index.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/newslist(\d{1,6}).html?</LookFor>
        <SendTo>~/html/newslist.aspx?classid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/Signup.html</LookFor>
        <SendTo>~/html/Signup.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/newsdetail(\d{1,6}).html?</LookFor>
        <SendTo>~/html/newsdetail.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/about(\d{1,6}).html?</LookFor>
        <SendTo>~/html/about.aspx?classid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/honour(\d{1,6}).html?</LookFor>
        <SendTo>~/html/honour.aspx?classid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/specialty(\d{1,6}).html?</LookFor>
        <SendTo>~/html/specialty.aspx?classid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/specialtydtail(\d{1,6}).html?</LookFor>
        <SendTo>~/html/specialtydtail.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/works(\d{1,6}).html?</LookFor>
        <SendTo>~/html/works.aspx?classid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/teacher(\d{1,6}).html?</LookFor>
        <SendTo>~/html/teacher.aspx?classid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/student(\d{1,6}).html?</LookFor>
        <SendTo>~/html/student.aspx?classid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/star(\d{1,6}).html?</LookFor>
        <SendTo>~/html/star.aspx?classid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/contact(\d{1,6}).html?</LookFor>
        <SendTo>~/html/contact.aspx?classid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/graduation.html</LookFor>
        <SendTo>~/html/graduation.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/html/cooperate(\d{1,6}).html?</LookFor>
        <SendTo>~/html/cooperate.aspx?classid=$1</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <trace enabled="true"/>
    <customErrors mode="Off"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime requestValidationMode="2.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
      <add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter"/>
      <add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name=".htmltest4" type="URLRewriter.ModuleRewriter" preCondition="managedHandler"/>
    </modules>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>