<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=120.55.84.202;uid=sa;pwd=123456;database=db_dbe;"/>
  </connectionStrings>
  <appSettings>
    <add key=""/>
  </appSettings>
</configuration>
