<?xml version="1.0"?>
<TaskConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ConfigList>
    <TaskConfigInfo>
      <TypeName>Cms.Service.TaskNode.BirthdayReminder</TypeName>
      <TaskName>会员生日提醒</TaskName>
      <Timetype>Day</Timetype>
      <Interval>1</Interval>
      <ExecuteTime>
        <TimeSinceLastEvent>10000000</TimeSinceLastEvent>
      </ExecuteTime>
      <Enabled>true</Enabled>
      <LastExecuteTime>2016-01-31T13:28:00.3705154+08:00</LastExecuteTime>
    </TaskConfigInfo>
  </ConfigList>
</TaskConfig>